* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Consolas', Sans-Serif;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: cornflowerblue;
  min-height: 100vh;
}

.wrapper {
  width: min(100% - 2em,450px);
  border-radius: 7px;
  background-color: white;
  padding: 30px 25px 40px;
}

.title {
  text-align: center;
  margin-bottom: 10px;
}

.wrapper :where(textarea, input, select, button) {
  width: 100%;
  font-size: clamp(.5rem, 100vw - 1rem, 1em);
  outline: none;
  border: none;
  border-radius: 5px;
}

.wrapper textarea {
  height: 270px;
  padding: 8px 13px;
  resize: none;
  border: 1px solid #ccc;
}

.wrapper .file-options {
  margin-top: 6px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.file-options .option {
  width: calc(100% / 2 - 8px);
}

.option :where(input, .select-menu){
  height: 40px;
  padding: 0 15px;
  margin-top: 6px;
  border-radius: 5px;
  border: 1px solid #bfbfbf;
}

.option .select-menu select {
  height: 40px;
  background: transparent;
}

.wrapper .save-btn {
  color: #fff;
  opacity: .6;
  margin-top: 20px;
  padding: 16px 0;
  cursor: pointer;
  background-color: cornflowerblue;
  pointer-events: none;
}

.wrapper textarea:valid ~ .save-btn {
  opacity: 1;
  pointer-events: auto;
}

a:link {
  font-family: Monospace;
  text-decoration: none;
  opacity: .6;
}

.footer {
  margin-top: 20px;
  text-align: center;
  font-family: Monospace;
  font-size: .8em;
  color: #ccc;
}